<!DOCTYPE html>
<html>
  <head>
    <title>TestPagePerformance With Progressive Image Loading</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application_pil', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/common_header_script'%>
  </head>
  <body>

    <%= yield %>

  </body>
</html>